.ui-shop {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  text-align: center;
  background-color: #222;
  width: 100%;
  height: 100%;

  &__element {
    font-family: "Roboto", sans-serif;
    width: 100%;
    color: #fff;
  }
}

.turretList {
  font-size: 2em;

  &:hover {
    color: red;
    cursor: pointer;
  }
}
